<!DOCTYPE html>

<html>

<head>
	<title>Upload a CSV File</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
	<h1>Show user data from backend</h1>
	<!-- <p>{{column_names}}</p>
	<p>{{data_part}}</p> -->

	<table class="table">
		<thead>
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>


</body>
</html>