<!DOCTYPE html>

<html>

<head>
    <title>CSCI ECU</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>


<body>


<form action="/api/save" method='post'>
  <p>First Name <input type = "text" name = "first_name" /></p>
  <p>Last Name <input type = "text" name = "last_name" /></p>
  <p>Email <input type ="text" name = "email" /></p>
  <p><input type = "submit" value = "Save it locally" /></p>
</form>


</body>
</html>