<!DOCTYPE html>

<html>

<head>
    <title>CSCI ECU</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>


<body>


<p>
	<!-- you have learned how to make this part more organized -->
  Lower threshold:
  <input type="number" value=0 step="0.01" id='lower_id'>
  Upper threshold:
  <input type="number" value=1 step="0.01" id='upper_id'>
</p>

<p>
  <button type="button" id='check_button_id'>Check</button>
</p>

<p id='result_p'></p>

</body>
</html>