<!DOCTYPE html>

<html>

<head>
    <title>Database</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>


<body>
	<h1>Team Presentation Schedule</h1>
    <p>{{log_html}}</p>
    <button type="button" id="display_button">Display All Teams</button>
    <button type="button" id="schedule_button">Schedule Team Presntation</button>
    <div id='result_div'>
    	<p>Currently, we have the following teams:</p>
    	<p id='display_p'></p>	
    </div>
    
    





</body>
</html>